<footer class="footer">
    <div class="container-fluid container-lg px-0 px-lg-2_5">
        <p class="text-center py-3_5 py-lg-4 text-primary-400 fs-7 fs-lg-6 border-top border-neutral-300">
            ©Vivre 2024 All right Reserved
        </p>
    </div>
</footer>
